

/* .spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
 */

.profile{
  background-image: url(/img/andrew-kliatskyi-r4HT6aurLQw-unsplash.jpg);
  width: 100%;
  height: 360px;
   /* Set a specific height */
   min-height: 500px;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

display: flex;
align-items: center;
justify-content:space-evenly;


}

.det{
  color: #fff;
}

#personal-info{
  font-size: 40px;
}
strong,span{
  font-size: 26px;
  letter-spacing: 2px;
}

#pic{
  height: 280px;
  width: 280px;
  border: 12px solid rgb(31, 31, 31);
  border-radius: 160px;
  /* shape-outside: margin-box; */
}

body{
  padding: 0;
  margin: 0;
}







.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 90px;
  color: #402d2d;
}

.ml5 .text-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  /* position: absolute; */
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 3px;
  width: 62%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}


.ml5 .letters {
  display: inline-block;
  opacity: 0;
  font-size: 68px;
}

.deat{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.about{  
  background-color: bisque;
  height: 500px;
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  
}

#about-me{
  font-size: 65px;
  display: flex;
}


#1{
  background-color: aquamarine;
  
}



















































































html{
  scroll-behavior: smooth;
}

