html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
}


.parallax1 {
  /* The image used */
  background-image: url("/img/andrew-kliatskyi-r4HT6aurLQw-unsplash.jpg");

  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
align-items: center;
  color: white;
  font-size: 90px;
  font-weight: bolder;
  flex-direction: column;
}

.parallax1 h5{
    font-size: 28px;
}


#idpic{
    height: 329px;
    width: 329px;
    border: 12px solid white;
    border-radius: 178px;
    box-shadow: 5px 10px 8px #888888;
    
}


.idp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

}

.abt{
    font-size: 78px;
}

.details{
    text-align: center;
    background-color: #FAFDD6;
    height: 600px;
}

.adt{
    font-size: 30px;
    padding: 6px;
    cursor: pointer;
    border: solid black;
    border-right:0px;
    border-top:0px;
    border-bottom: 0px;
    transition: 0.3s ease;

    
}
.adt:hover{
    background-image: linear-gradient(to right,#E4E9BE,#E9D5DA);

    -webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 0.3s ease;


}
.exad{
    padding-left: 10px;
}

.btn{
    display: flex;
    
}
.wd{
    padding: 16px;
    margin: 10px;
    width: 200px;
    background-color: transparent;
    color: white;
    border-color: white;
    cursor: pointer;

}

.wd:hover{
    background-color: rgba(255, 255, 255, 0.173);
    transition: 0.2s ease-in;
}


.score{
    background-image: url("/img/aedrian-6gZYR_QFjFE-unsplash.jpg");

    /* Set a specific height */
    min-height: 58vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     
    

}



.scin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.jhk{
    border: 6px solid white;
    border-radius:150px; 
    height:150px;
    width: 150px;
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 3px;
    
       
}

.jhk:hover{
    filter: invert(0%);
    transition: 0.3s ease-out;
    transform: scale(1.3);
}

.pdf{
    margin-top: 38px;
    font-size: 40px;
    color: white;
    font-weight: 650;
    
}
.inn{
    filter: invert(100%);
}
.onn{
    margin-left:32px;
}

.chh{
    font-size: 23px;
}
   

.portfolio{
    height: 185vh;
    width: 100%;
    background-color: #6D8B74;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;

}

.porthead{
    height: 86px;
    font-size: 62px;
    
    color: white;
    border-top:0;
    border-right: 0;
    border-left: 0;    
  
    
}


.pb{
    
    font-size: 26px;
    color: black;
    font-weight: 200;
}

.image{
    border-radius: 0px 38px 0px 38px;
    box-shadow: 5px 10px 8px #1e1e1e;

}

.image:hover {
    opacity: 0.9;
    box-shadow: 5px 10px 8px #1e1e1e;


  }

  .txt{
      background-color: transparent;
      width: 150px;
      height: 60px;
      font-size: 15px;
      border-radius: 220px;
      font-weight: 40px;
      cursor: pointer;
  }
  .txt:hover{
      background-color:black;
      width: 150px;
      height: 60px;
      font-size: 15px;
      border-radius: 220px;
      transition: 0.05s ease-in-out;
      color: white;
      font-weight: 40px;
  }

  .conimg{
      margin-top: 65px;
  }

  .foot{
      background-color: black;
      display: flex;
      justify-content:center;
      align-items: center;
      height: 150px;
      width: 100%;
      box-sizing: border-box;
      
  }

  .fotpic{
      filter:invert(100%);
      height: 75px;
      width: 75px;
      margin-left: 25px;

  }
 
  

